.cart-wrapper {
    padding: 20px;
}

.cart-title {
    font-weight: 300;
    text-align: center;
}

.cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-top-button {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.cart-top-texts {
}

.cart-span {
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
}

.cart-info {
    flex: 3;
}

.cart-summary {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product {
    display: flex;
    justify-content: space-between;
}

.cart-product-detail {
    flex: 2;
    display: flex;
}
.cart-product-detail img {
    width: 200px;
}

.cart-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.cart-price-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-amount-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.prod-amount-cart {
    font-size: 24px;
    margin: 5px;
}

.prod-price-cart {
    font-size: 30px;
    font-weight: 200;
}

hr {
    background-color: #eee;
    border: none;
}

.cart-remove-btn {
    background-color: black;
    color: white;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
}

.cart-clear-btn {
    width: 15%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.cart-check-btn {
    width: 30%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.cart-total-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas: "totalC clearB checkB";
    height: 100%;
    position: relative;
    top: 130px;
}

.span-total-cart{
    grid-area: totalC;
    position: relative;
    left: 50px;
}
.span-total-cart span {
    font-size: 30px;
}


.btn-clear-cart {
    grid-area: clearB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-checkout-cart {
    grid-area: checkB;
    display: flex;
    justify-content: center;
    align-items: center;
}


.continue-shopping {
    position: relative;
    top: 90px;
}