@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    float: left;
    width: 100%;
    border-bottom: #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-logo {
    width: 300px;
    font-weight: 300;
    font-size: 43px;
}

.header-primary {
    background: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc;
}
.header-primary .navbar li {
    margin-right: 10px;
}
.header-primary .navbar .navbar__btn {
    font-family: "Lato", sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 23px;
    color: white;
}
.header-primary .navbar .navbar__btn:hover {
    font-weight: 500;
    color: #dc713d;
}

.header-primary .navbar .navbar__btn:hover:before {
    width: 85%;
}

.header-primary .navbar .navbar__btn:before {
    content: "";
    position: absolute;
    width: 0;
    transition: width 0.5s ease;
    height: 1px;
    background: #dc713d;
    bottom: 5px;
}

@media screen and (max-width: 480px) {
    .container-logo {
        width: 3px;
        font-size: 25px;
    }
    .header-primary .navbar li {
        margin-right: 0;
    }
}
