@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    float: left;
    width: 100%;
    border-bottom: #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-logo a {
    width: 300px;
    font-weight: 300;
    font-size: 43px;
}

.header-primary {
    background: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc;
}
.header-primary .navbar li {
    margin-right: 10px;
}
.header-primary .navbar .navbar__btn {
    font-family: "Lato", sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 23px;
    color: white;
}
.header-primary .navbar .navbar__btn:hover {
    font-weight: 500;
    color: #dc713d;
}

.header-primary .navbar .navbar__btn:hover:before {
    width: 85%;
}

.header-primary .navbar .navbar__btn:before {
    content: "";
    position: absolute;
    width: 0;
    transition: width 0.5s ease;
    height: 1px;
    background: #dc713d;
    bottom: 5px;
}

/*
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
}

.list {
    list-style-type: none;
    background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.items {
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #f1f1f1;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}

@media screen and (max-width: 500px){
    .list {
        flex-direction: column;
        height: auto;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }
}
*/
