.detail-container {
    height: 93.3vh;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "img titulo"
        "img addcart";
}

.img-detail {
    grid-area: img;
}
.img-detail img {
    width: 100%;
    height: 90%;
}

.title-detail {
    position: relative;
    grid-area: titulo;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "tit"
        "prc";
    position: relative;
    right: 100px;
}
.tit {
    grid-area: tit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 40px;
}
.prc {
    grid-area: prc;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 80px;
}

.count-detail {
    grid-area: addcart;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 200px;
    right: 100px;
}

.checkout-btn {
    position: relative;
    left: 305px;
}
