.btnDiv {
    width: 100%;
}

.plus-minus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-btn {
    display: flex;
    justify-content: center;
    position: relative;
    right: 20px;
}

.plus-btn {
    display: flex;
    justify-content: center;
    position: relative;
    left: 20px;
}

.plus-minus span {
    font-size: large;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
